
@{
    ViewData["Title"] = "Login";
}

@{ Layout = null; }
@model aehyok.Core.Data.Model.LoginModel
<html>
<head>
    <meta charset="utf-8">
    <title>登录</title>
    <meta name="description" content="particles.js is a lightweight JavaScript library for creating particles.">
    <meta name="author" content="Vincent Garreau" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="~/LoginPage/css/reset.css" rel="stylesheet" />
    <link href="~/LoginPage/css/style.css" rel="stylesheet" />
</head>
<body class="theme-purple authentication sidebar-collapse">

    <div id="particles-js">
        <div class="login">
            <form class="form" method="post" action="../Account/Login">
                <div class="login-top">
                    咨询管理平台
                </div>
                <div class="login-center clearfix">
                    <div class="login-center-img"><img src="/LoginPage/img/name.png" /></div>
                    <div class="login-center-input">
                        <input type="text" name="UserName" value="" placeholder="请输入您的用户名" onfocus="this.placeholder=''" onblur="this.placeholder='请输入您的用户名'" />
                        <div class="login-center-input-text">用户名</div>
                    </div>
                </div>
                <div class="login-center clearfix">
                    <div class="login-center-img"><img src="/LoginPage/img/password.png" /></div>
                    <div class="login-center-input">
                        <input type="password" name="Password" value="" placeholder="请输入您的密码" onfocus="this.placeholder=''" onblur="this.placeholder='请输入您的密码'" />
                        <div class="login-center-input-text">密码</div>
                    </div>
                </div>
                <div style="height:10%;text-align:center">
                    <font>@Html.ValidationMessageFor(m => m.UserName, null, new { Style = "color:rgba(232,16,16,0.7);font-size:12px;" })</font>
                    <font>@Html.ValidationMessageFor(m => m.Password, null, new { Style = "color:rgba(232,16,16,0.7);font-size:12px;" })</font>
                </div>
                <div style="text-align:center">
                    <button type="submit" class="login-button">登录</button>
                </div>
            </form>
        </div>
        <div class="sk-rotating-plane"></div>
    </div>


    <script src="~/LoginPage/js/particles.min.js"></script>
    <script src="~/LoginPage/js/app.js"></script>

    <script type="text/javascript">
        function hasClass(elem, cls) {
            cls = cls || '';
            if (cls.replace(/\s/g, '').length == 0) return false; //当cls没有参数时，返回false
            return new RegExp(' ' + cls + ' ').test(' ' + elem.className + ' ');
        }

        function addClass(ele, cls) {
            if (!hasClass(ele, cls)) {
                ele.className = ele.className == '' ? cls : ele.className + ' ' + cls;
            }
        }

        function removeClass(ele, cls) {
            if (hasClass(ele, cls)) {
                var newClass = ' ' + ele.className.replace(/[\t\r\n]/g, '') + ' ';
                while (newClass.indexOf(' ' + cls + ' ') >= 0) {
                    newClass = newClass.replace(' ' + cls + ' ', ' ');
                }
                ele.className = newClass.replace(/^\s+|\s+$/g, '');
            }
        }
        document.querySelector(".login-button").onclick = function () {
            addClass(document.querySelector(".login"), "active")
            setTimeout(function () {
                addClass(document.querySelector(".sk-rotating-plane"), "active")
                document.querySelector(".login").style.display = "none"
            }, 800)
            //setTimeout(function () {
            //    removeClass(document.querySelector(".login"), "active")
            //    removeClass(document.querySelector(".sk-rotating-plane"), "active")
            //    document.querySelector(".login").style.display = "block"
            //    alert("登录成功")

            //}, 5000)
        }
    </script>
</body>
</html>

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


