<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link href="~/lib/element-ui/lib/theme-chalk/index.css" rel="stylesheet" />
    <!-- import Vue before Element -->
    <script src="~/lib/vue-2.6.10/dist/vue.js"></script>

    <!-- import JavaScript -->
    <script src="~/lib/element-ui/lib/index.js"></script>
    <style type="text/css">

        html, body, #app, .el-container {
            /*设置内部填充为0，几个布局元素之间没有间距*/
            padding: 0px;
            /*外部间距也是如此设置*/
            margin: 0px;
            /*统一设置高度为100%*/
            height: 100%;
        }

        .el-header {
            background-color: #B3C0D1;
            color: #333;
            height: 60px;
            line-height: 60px;
            justify-content: center;
            align-items: center;
        }

        .el-footer {
            background-color: #B3C0D1;
            color: #333;
            height: 30px;
        }

        .el-col {
            border-radius: 2px
        }
        .el-main {
            background-color: #E9EEF3;
            color: #333;
        }

        body > .el-container {
            margin-bottom: 40px;
        }

        .home_logo{
            text-align: center;
            position: absolute;
            height: 60px;
            width: 199px;
            position: relative;
            line-height: 60px;
            background-color: #010508;
        }

         .header_logo {
            flex: 3;
            display: flex;
            justify-content: center;
             position: absolute;
            height:60px;
            width:199px;
          }
          .header_search {
            display: flex;
            float: right;
            width: 200px;
          }
        .el-image__inner {
            width:75%   
        }
    </style>
</head>
<body>
    <div id="app">
        <el-container>
            <el-header>
                <div class="header_logo">
                     <el-image :src="url"></el-image>
                </div>
                <div class="header_search">
                    <el-input placeholder="请输入内容"
                                prefix-icon="el-icon-search">
                    </el-input>
                </div>
            </el-header>
            <el-container>
                <el-aside width="200px">
                    @*<el-radio-group v-model="isCollapse">
                        <el-radio-button :label="false">展开</el-radio-button>
                        <el-radio-button :label="true">收起</el-radio-button>
                    </el-radio-group>*@
                    <el-menu default-active="1-4-1" class="el-menu-vertical-demo" @@open="handleOpen" @@close="handleClose" :collapse="false">
                        <el-submenu index="1">
                            <template slot="title">
                                <i class="el-icon-location"></i>
                                <span slot="title">全过程咨询</span>
                            </template>
                            <el-menu-item-group>
                                <span slot="title">分组一</span>
                                <el-menu-item index="1-1">选项1</el-menu-item>
                                <el-menu-item index="1-2">选项2</el-menu-item>
                            </el-menu-item-group>
                            <el-menu-item-group title="分组2">
                                <el-menu-item index="1-3">选项3</el-menu-item>
                            </el-menu-item-group>
                            <el-submenu index="1-4">
                                <span slot="title">选项4</span>
                                <el-menu-item index="1-4-1">选项1</el-menu-item>
                            </el-submenu>
                        </el-submenu>
                        <el-menu-item index="2">
                            <i class="el-icon-menu"></i>
                            <span slot="title">招投标</span>
                        </el-menu-item>
                        <el-menu-item index="3" disabled>
                            <i class="el-icon-document"></i>
                            <span slot="title">工程设计</span>
                        </el-menu-item>
                        <el-menu-item index="4">
                            <i class="el-icon-setting"></i>
                            <span slot="title">
                                工程造价
                            </span>
                        </el-menu-item>
                        <el-menu-item index="5">
                            <i class="el-icon-postcard"></i>
                            <span slot="title">
                                工程监理
                            </span>
                        </el-menu-item>
                        <el-menu-item index="6">
                            <i class="el-icon-menu"></i>
                            <span slot="title">
                                运营管理
                            </span>
                        </el-menu-item>
                        <el-menu-item index="7">
                            <i class="el-icon-s-platform"></i>
                            <span slot="title">
                               系统设置
                            </span>
                        </el-menu-item>
                    </el-menu>
                </el-aside>
                <el-container>
                    <el-main>@RenderBody()</el-main>
                </el-container>
            </el-container>
        </el-container>
    </div>
</body>
<script>
    var Main = {
        data() {
          return {
              isCollapse: true,
              url:"images/zxgl.png"
          };
        },
        methods: {
          handleOpen(key, keyPath) {
            console.log(key, keyPath);
          },
          handleClose(key, keyPath) {
            console.log(key, keyPath);
          }
        }
      }
    var Ctor = Vue.extend(Main)
    new Ctor().$mount('#app')
</script>
<style>
    .el-menu-vertical-demo:not(.el-menu--collapse) {
        width: 199px;
        min-height: 500px;
    }
</style>

</html>
