
@{
    ViewData["Title"] = "Index";
}
    <div id="pdfIndex">
        <template>
            <el-button type="primary" :plain="true" :click="mainClick">主要按钮</el-button>
            </template>
</div>
<script type="application/javascript">
    var pdfMain = {
        methods: {
            mainClick() {
            alert(111);
            console.log("测试代码");
            }
        }
    }
    var Ctor = Vue.extend(pdfMain)
    new Ctor().$mount('#pdfIndex')
</script>