<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
  <targets>
    
    <target name="file" xsi:type="File" fileName="${basedir}/Logs/${date:format=yyyy}/${date:format=MM}/${date:format=yyyyMMdd-HH}.log"
            layout="${longdate}${stacktrace} ${message}"/>

    <target xsi:type="Database"
                name="database"
                dbProvider="MySql.Data.MySqlClient.MySqlConnection, MySql.Data"
                connectionString="server=111.231.215.64;userid=sa;password=M9y2512!;database=aehyok;Character Set=utf8;SslMode=none;">

      <commandText>
        insert into log (
        Application, Logged, Level, Message,
        Username,
        ServerName, Url,RemoteAddress,
        Logger, CallSite, Exception
        ) values (
        @Application, @Logged, @Level, @Message,
        @Username,
        @ServerName, @Url,@RemoteAddress,
        @Logger, @Callsite, @Exception
        );
      </commandText>

      <parameter name="@application" layout="咨询管理平台" />
      <parameter name="@logged" layout="${date}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@username" layout="${identity}" />
      <parameter name="@serverName" layout="${aspnet-request-host}" />
      <parameter name="@url" layout="${aspnet-request-url:IncludeQueryString=true}" />
      <parameter name="@remoteAddress" layout="${aspnet-Request-ip}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@callSite" layout="${callsite}" />
      <parameter name="@exception" layout="${exception:tostring}" />

    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="file"/>

    <logger name="*" minlevel="Debug" writeTo="database"/>
  </rules>
</nlog>
