<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
  <targets>
    <target name="file" xsi:type="File" fileName="${basedir}/Logs/${date:format=yyyy}/${date:format=MM}/${date:format=yyyyMMdd-HH}.log"
            layout="${longdate}${stacktrace} ${message}"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Error" writeTo="file"/>
  </rules>
</nlog>
