[Unit]
Description=aehyok-basic
After=network-online.target
Wants=network-online.target

[Service]
# modify when deploy in prod env
# User=dvs
# Group=dvs

Type=simple
ExecStart=/root/.dotnet/dotnet /usr/local/aehyok/aehyok-basic/aehyok.Basic.Api.dll
WorkingDirectory=/usr/local/aehyok/aehyok-basic

Restart=always
RestartSec=1
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
